{:paths ["src" "resources"]
 :deps {org.clojure/clojure       {:mvn/version "1.12.2"}
        aleph/aleph               {:mvn/version "0.9.1"} 
        ring/ring-core            {:mvn/version "1.12.1"}
        ring/ring-devel           {:mvn/version "1.12.1"}
        ring/ring-defaults        {:mvn/version "0.4.0"}
        com.cognitect/transit-clj {:mvn/version "1.0.333"}
        com.cognitect/transit-cljs {:mvn/version "0.8.280"} 

        no.cjohansen/replicant {:mvn/version "2025.02.02"}
        no.cjohansen/nexus {:mvn/version "2025.07.1"}}
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {thheller/shadow-cljs {:mvn/version "3.2.0"}
                              binaryage/devtools {:mvn/version "1.0.7"}}}}}
