html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button, input[type="submit"], input[type="reset"] {
  background: rgb(62, 153, 136);
  color: #FFF;
  border: none;
  padding: 6px;
  margin: 2px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: auto;
}

a {
  cursor: pointer;
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor:initial;
}

b,
strong {
  font-weight: 600;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

  color: #444;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  background-repeat: repeat;
  background-color: #ddd;
}

b,
strong {
  font-weight: 600;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}

h2 {
  font-size: 26px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 3px;
  margin-bottom: 3px;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

input[type="checkbox"]:checked {
  opacity: 1;
}

img {
  display: inline-block;
  vertical-align: bottom;
}

pre {
  font-size: 8px
}
